<Directory /var/www/html/web>
    AllowOverride All
    Require all granted

    <IfModule mod_rewrite.c>
        Options -Indexes
        RewriteEngine On
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteRule ^(.*)$ index.php [QSA,L]
    </IfModule>
</Directory>
